{% include "header.html" %}


<header
  class="masthead"
  style="background-image: url('../static/assets/img/bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Who is this cyroplex?</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am a 21 year old from Turkey and currently studying Electronics Technology at Afyon Kocatepe University and Computer Programming at Anadolu University.
        </p>
        <p>
          Since I was 10 years old I have been interested in IT and I really love this field. I am currently interested in cloud technologies and I will probably work in this field in the future.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
